// -----------------------------------------------------------------------------
// Ongoing challenge page
// -----------------------------------------------------------------------------

.ongoing-view
{
  padding: 10.0rem 0 0 0;
  text-align: center;
}

.ongoing-status
{
  font-size: (@body-font-size * 1.2);
  margin-bottom: @spacing-medium;
}

// -----------------------------------------------------------------------------
// Polar bear
// -----------------------------------------------------------------------------

.bear-wrapper
{
  border-radius: 50%;
  padding-top: 7.0rem;
  position: absolute;
  top: 10.0rem;
  width: 100%;
}

.bear-animal, .bear-ice
{
  display: block;
  margin: auto;
}

.bear-animal
{
  width: 8.0rem;
}

.bear-ice
{
  margin-top: 0.2rem;
  max-width: 17.5rem;
}


// -----------------------------------------------------------------------------
// Data
// -----------------------------------------------------------------------------

.ct-series-a .ct-slice-donut
{
  stroke: @core-secondary-color;
}

.ct-series-b .ct-slice-donut
{
  stroke: fade(@core-light-color, 30%);
}
