// -----------------------------------------------------------------------------------------------
//  General configuration
// -----------------------------------------------------------------------------------------------

body
{
  padding: 5.0rem;
}

// -----------------------------------------------------------------------------------------------
//  Device appearance
// -----------------------------------------------------------------------------------------------

.device-wrapper
{
  text-align: center;
}

.marvel-device
{
  display: inline-block;
  position: relative;
}
